Repository Scarlet-Reach/Scarlet-Reach, pull requests merged in 2025-08, with the labels that each got.

#296 Piercing Armor Buffs, Broadhead AP reduction, Toxophilite capped
  code/__DEFINES/roguetown.dm
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  modular_azurepeak/virtues/combat.dm
Labels: Balance

#495 pr. adds horn.
  code/modules/client/customizer/customizers/organ/horns.dm
  code/modules/mob/dead/new_player/sprite_accessory/horns.dm
  icons/mob/sprite_accessory/horns/horns.dmi
Labels: Sprite

#486 Priest's curses do not work on bandits, wretches VL or lich
  code/modules/jobs/job_types/roguetown/church/priest.dm
Labels: Code, Balance

#457 *READY* COMBAT MUSIC OVERRIDE (Prefs + Options Verb)
  code/__HELPERS/global_lists.dm
  code/datums/combat_music.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/living/carbon/human/species_types/wildshape/wildshape_transformation.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/mob_helpers.dm
  roguetown.dme
Labels: Test Merge, Code, Sound

#512 Restores Packages & The Mailing Thereof
  code/modules/paperwork/paper.dm
  code/modules/roguetown/roguemachine/mail.dm
  icons/roguetown/clothing/storage.dmi
Labels: Code, Bug Fix

#414 Conversion ritual for the ascendants
  code/datums/mind.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  icons/roguetown/misc/rituals.dmi
  modular_azurepeak/code/game/objects/items/ritechalk.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Test Merge, Code, Balance, Feature

#478 Removes Ritualist Virtue
  modular_azurepeak/virtues/utility.dm
Labels: Test Merge, Code, Balance, Removal

#507 Ports an Azure pr for mercenaries
  _maps/templates/smalldungeons.dm
  code/__DEFINES/roguetown.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/objects/effects/spawners/equipment_spawners.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/modules/cargo/packsrogue/Iconoclast.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/berserker.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/freifechter.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/steppesman.dm
  code/modules/language/roguetown/regional/aavnic.dm
  code/modules/roguetown/roguecrafting/leather/leather_armor_recipes.dm
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/64.dmi
  icons/roguetown/weapons/polearms64.dmi
Labels: Code, Sprite

#477 Dolls v2 reupload (Credit goes to viertel in discord for the gaggar text)
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/roguetown.dm
  code/__HELPERS/round_statistics.dm
  code/controllers/subsystem/storyteller.dm
  code/modules/client/client_procs.dm
  code/modules/events/god_intervention/Graggar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/golem/doll.dm
  code/modules/mob/living/grabbing.dm
  roguetown.dme
Labels: Test Merge, Code, Feature

#487 Readds Roundstart & Midround Antagonists
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/roguetown.dm
  code/modules/antagonists/roguetown/villain/lich.dm
  code/modules/antagonists/roguetown/villain/peasantrebel.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/events/antagonist/migrant_waves/lich.dm
  code/modules/events/antagonist/solo/lich.dm
  code/modules/events/antagonist/solo/minor/aspirant.dm
  code/modules/events/antagonist/solo/rebels.dm
  code/modules/events/antagonist/solo/thievesguild.dm
  code/modules/events/antagonist/solo/vampires.dm
  code/modules/events/antagonist/solo/vampires_and_werewolves.dm
  code/modules/events/antagonist/solo/werewolf.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/mob/living/simple_animal/hostile/bosses/lich_boss.dm
Labels: Test Merge, Code, Balance, Feature, FUCK

#458 (please testmerge) Golem mini-rework
  code/__DEFINES/mobs.dm
  code/__HELPERS/time.dm
  code/datums/sleep_adv/sleep_adv.dm
  code/datums/status_effects/rogue/roguebuff.dm
  code/game/objects/items/rogueitems/natural/stones.dm
  code/game/objects/items/rogueweapons/intents/mmb/bite.dm
  code/game/objects/lighting/rogue_fires.dm
  code/modules/cargo/packsrogue/blackmarket/blackmarket_tools.dm
  code/modules/cargo/packsrogue/merchant/tools.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/golem/golem.dm
  code/modules/mob/living/grabbing.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  code/modules/roguetown/roguejobs/fisher/leeches.dm
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  code/modules/spells/roguetown/acolyte/eora/eora_status_effects.dm
  code/modules/spells/spell_types/wizard/utility/mending.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  code/modules/surgery/organs/liver.dm
  icons/roguetown/items/misc.dmi
Labels: Test Merge, Code, Quality of Life

#506 Inquisitor Numberjaking
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
Labels: Code, Balance

#566 Runtimes fix 4 [TM first]
  code/datums/particle_weathers/_base.dm
  strings/axian_replacement.json
Labels: Test Merge

#514 Better Necrans Part 1 DeathDoor fixes spell+Field Burials+Speak With Dead spell
  code/datums/gods/patrons/divine_pantheon.dm
  code/modules/spells/roguetown/acolyte/necra.dm
  icons/mob/actions/roguespells.dmi
  icons/roguetown/misc/structure.dmi
Labels: Code, Feature

#352 New zizo skeletonisation rite + deadite immunity for zizoites
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/zizo.dm
Labels: Test Merge, Code, Balance, Feature, Quality of Life

#482 Necromancer Skeleton Rework
  code/game/objects/items/rogueitems/necro_relics.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Test Merge, Code, Balance, Feature

#499 Updates to the common accent
  strings/accent_universal.json
Labels: Code

#448 Summoning drop fixes
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/elemental/behemoth.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/elemental/colossus.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/fae/sprite.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/fae/sylph.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/infernal/hellhound.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/infernal/imp.dm
Labels: Code, Bug Fix

#586 golem skill exhibitor tweaks
  code/modules/mob/living/carbon/human/species_types/roguetown/golem/golem.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
Labels: Code, Balance

#579 5 runtime fix Life () and Wounds () + bite [TM first for a weel]
  code/game/objects/items/rogueweapons/intents/mmb/bite.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/life.dm
Labels: Test Merge

#613 wild goblin eyes now hurt you while implanted
  code/modules/surgery/organs/eyes.dm
Labels: Balance

#597 Pile appraisal skill for merchant and steward
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  modular_azurepeak/code/modules/spells/pantheon/inhumen/matthios.dm
Labels: Code, Feature, Quality of Life

#550 Customizable Donor Text and Making SCOMs more modular/slightly less messy
  _maps/map_files/dun_manor/dun_manor.dmm
  _maps/map_files/dun_world/dun_world.dmm
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/say.dm
  code/controllers/subsystem/rogue/roguemachine.dm
  code/game/objects/structures/fluff.dm
  code/game/say.dm
  code/modules/admin/patreon.dm
  code/modules/cargo/packsrogue/Things.dm
  code/modules/cargo/packsrogue/merchant/luxury.dm
  code/modules/client/client_defines.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/Iconoclast.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/brigand.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/hedgeknight.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/knave.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/roguemage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sawbones.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/antag/sellsword.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/dullahan/dullahan_head.dm
  code/modules/mob/living/say.dm
  code/modules/roguetown/roguejobs/engineer/anvil_recipes/mechanical.dm
  code/modules/roguetown/roguemachine/scomm.dm
  goon/browserassets/css/browserOutput.css
  interface/stylesheet.dm
  modular_azurepeak/code/modules/clothing/rogueclothes/crown.dm
  modular_helmsguard/code/game/objects/structures/dungeon_chest.dm
  roguetown.dme
Labels: Code, Feature, Quality of Life

#580 [TM Only] Baotha's Bugfixes III: Third Time's The Charm
  code/_onclick/hud/plane_master.dm
Labels: Test Merge

#708 Multiline ahelp
  code/modules/admin/verbs/adminhelp.dm
Labels: Code, Quality of Life, Administration

#431 Fixes order minion for mossback and adds abyssor ritual
  code/modules/spells/roguetown/acolyte/abyssor.dm
  modular_azurepeak/code/game/objects/items/ritualcircles.dm
Labels: Conflict, Code, Bug Fix, Quality of Life

#587 Passive Grab Nerf + Grab Resist CD change
  code/modules/mob/living/living.dm
Labels: Test Merge, Code, Balance

#637 wildshape (and zad form (and bat form) (and mist form)) no longer fully heals the user
  code/_onclick/item_attack.dm
  code/game/objects/shapeshift_holder.dm
  code/game/objects/structures/maneater.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species_types/wildshape/wildshape_transformation.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living_defines.dm
  code/modules/spells/roguetown/vampire.dm
Labels: Test Merge

#532 Gives the WW's Ungrabbable.
  code/modules/antagonists/roguetown/villain/werewolf/werewolf_transformation.dm
Labels: Code, Balance

#544 Decapitation/Dismemberment Changes
  code/modules/surgery/bodyparts/bodypart_dismemberment.dm
Labels: Test Merge

#722 Mapping changes
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#422 Optional no antag examine text for wretches + descriptor based bounty
  code/datums/mob_descriptors/descriptors/body.dm
  code/datums/mob_descriptors/descriptors/height.dm
  code/datums/mob_descriptors/descriptors/prominent.dm
  code/datums/mob_descriptors/descriptors/stature.dm
  code/datums/mob_descriptors/descriptors/voice.dm
  code/datums/mob_descriptors/mob_descriptor.dm
  code/modules/jobs/job_types/roguetown/adventurer/wretch.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/living_descriptors.dm
  code/modules/roguetown/roguemachine/bounty.dm
Labels: Test Merge, Code, Balance, Feature, Quality of Life

#735 'Other tickets by user'
  code/modules/admin/verbs/adminhelp.dm
Labels: Administration

#674 coif on face
  code/modules/clothing/rogueclothes/neck.dm
Labels: Quality of Life

#678 Copytext > Copytext_char
  _maps/_basemap.dm
  code/__DEFINES/say.dm
  code/__HELPERS/text.dm
  code/game/say.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: Code
