Repository Scarlet-Reach/Scarlet-Reach, pull requests merged in 2025-10, with the labels that each got.

#1095 Splits up weapon 32x32 DMIs
  code/game/objects/items/rogueweapons/melee/axes.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/melee/whip.dm
  code/game/objects/items/rogueweapons/ranged/bows.dm
  code/game/objects/items/rogueweapons/ranged/crossbows.dm
  code/game/objects/items/rogueweapons/ranged/slings.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/carbon/human/species_types/wildshape/cat.dm
  code/modules/mob/living/carbon/human/species_types/wildshape/saiga.dm
  code/modules/mob/living/carbon/human/species_types/wildshape/spider.dm
  code/modules/mob/living/carbon/human/species_types/wildshape/volf.dm
  icons/roguetown/weapons/32.dmi
  icons/roguetown/weapons/axes32.dmi
  icons/roguetown/weapons/blunt32.dmi
  icons/roguetown/weapons/daggers32.dmi
  icons/roguetown/weapons/misc32.dmi
  icons/roguetown/weapons/polearms64.dmi
  icons/roguetown/weapons/ranged32.dmi
  icons/roguetown/weapons/shields32.dmi
  icons/roguetown/weapons/special/captain.dmi
  icons/roguetown/weapons/special/captainglaive.dmi
  icons/roguetown/weapons/swords32.dmi
  icons/roguetown/weapons/tools.dmi
  icons/roguetown/weapons/whips32.dmi
  modular_helmsguard/code/game/objects/items/weapons/ranged/arquebus.dm
  strings/cultivator_replacement.json
Labels: Code, Sprite

#1082 In-hand Icon Cache
  code/datums/components/decals/blood.dm
Labels: Code

#1101 Vendor Item Stacking
  code/modules/roguetown/roguemachine/vendor.dm
Labels: Code

#1092 Poison knives rebalance
  code/datums/elements/tipped_item.dm
  code/modules/food_and_drinks/food/snacks.dm
Labels: Code

#1091 fixes sleeves not appearing sometimes
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Code

#1071 [TM ONLY!!!] float_on() removal + movetype refactor ports from TG
  code/__DEFINES/dcs/signals/signals_movable.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/traits.dm
  code/controllers/subsystem/adjacent_air.dm
  code/datums/components/caltrop.dm
  code/datums/components/slippery.dm
  code/datums/elements/movetype_handler.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
  code/game/objects/items/rogueitems/natural/glass.dm
  code/game/objects/structures/life_candle.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/friendly/butterfly.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/bat.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/ghost.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/fae/glimmerwing.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/fae/sprite.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/infernal/imp.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/void/obelisk.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/void/voiddragon.dm
  code/modules/mob/living/simple_animal/hostile/roguetown/haunt.dm
  code/modules/mob/living/simple_animal/rogue/creacher/demon.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  modular_helmsguard/code/modules/mobs/farm/wraiths.dm
  roguetown.dme
Labels: Code

#1109 Harpies cannot be lunacy embracers
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/lunacyembracer.dm
Labels: Code, Balance

#1103 fixes an oversight
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/outlaw.dm
Labels: Code, Balance

#1116 Task-based Necromancy (small necromancer QOL change)
  code/game/objects/items/rogueitems/necro_relics.dm
Labels: Code

#1120 Adds two new ponytails
  code/modules/client/customizer/customizers/bodypart_feature/hair.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
Labels: Code, Sprite

#1115 Adds art stuff
  code/game/objects/structures/artstuff.dm
  code/modules/cargo/packsrogue/merchant/luxury.dm
  icons/roguetown/items/paint_supplies/canvas.png
  icons/roguetown/items/paint_supplies/canvas_32.dmi
  icons/roguetown/items/paint_supplies/canvas_32x32.dmi
  icons/roguetown/items/paint_supplies/noise.png
  icons/roguetown/items/paint_supplies/paint_items.dmi
  icons/roguetown/items/paint_supplies/pixel.dmi
Labels: Code, Sprite

#1068 Construct healing fix
  code/modules/spells/spell_types/wizard/utility/mending.dm
Labels: Code

#1097 Adds Braies (Medieval Underwear)
  code/game/objects/items/rogueitems/undies.dm
  code/modules/client/customizer/customizers/bodypart_feature/misc.dm
  code/modules/mob/dead/new_player/sprite_accessory/underwear.dm
  icons/mob/sprite_accessory/underwear.dmi
Labels: Code, Sprite

#1126 calm luh outlaw fix
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/outlaw.dm
Labels: Code, Balance

#1110 abyssal language now has a font
  code/modules/client/asset_cache.dm
  goon/browserassets/css/browserOutput.css
  interface/fonts/languages/abyssal.ttf
  interface/stylesheet.dm
Labels: Code

#950 makes picking jester a trve gamble, like xylix intended
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
Labels: Code, Balance

#1124 Tiny, Super Small, OCD Fix.
  code/modules/clothing/masks/_masks.dm
Labels: Code
