Repository Scarlet-Reach/Scarlet-Reach, pull requests merged in 2025-09, with the labels that each got.

#758 Atgervi: Back to the Roots
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/atgervi.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/atgervi.dm
  roguetown.dme
Labels: Test Merge

#667 changes beautiful self-examine mood bonus
  code/game/objects/structures/mirror.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/roguetown/roguecrafting/items.dm
  icons/roguetown/items/misc.dmi
  modular_azurepeak/virtues/utility.dm
Labels: Code, Quality of Life

#741 Ruma clan Ishu reflavor, knife suicide
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/mercenaries/classes/rumaclan.dm
  icons/roguetown/clothing/special/ninjahood.dmi
  icons/roguetown/clothing/special/onmob/ninjahood.dmi
Labels: Test Merge

#665 Unarmed CD Hotfix
  code/game/objects/items/rogueweapons/melee/special.dm
Labels: Balance

#744 adds normal bone as a grinding recipe
  code/modules/roguetown/roguecrafting/alchemy/alch_grind_recipes.dm
Labels: Conflict

#728 Psydonite nobles
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/jester.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/sergeant.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/captain.dm
  code/modules/jobs/job_types/roguetown/nobility/hand.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Quality of Life

#872 Summoning tweaks / sentient summon changes (TM before merge)
  code/datums/components/storage/storage_types.dm
  code/datums/magic_items/_ritual.dm/enchanting.dm
  code/datums/magic_items/_ritual.dm/rituals.dm
  code/datums/magic_items/_ritual.dm/summons.dm
  code/datums/magic_items/mageitems.dm
  code/datums/magic_items/mages_mechanics.dm/arcana_crafring.dm
  code/datums/magic_items/mages_mechanics.dm/mageritualrunes.dm
  code/datums/magic_items/mundane_items/mundane.dm
  code/game/objects/items/rogueitems/magic/magic_resources.dm
  code/game/say.dm
  code/modules/events/spacevine.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/witch.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/hedgemage.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/youngfolk/mage_apprentice.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/elemental/_base.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/elemental/behemoth.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/elemental/colossus.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/elemental/crawler.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/elemental/warden.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/fae/_base.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/fae/dryad.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/fae/glimmerwing.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/fae/sprite.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/fae/sylph.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/infernal/_base.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/infernal/fiend.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/infernal/hellhound.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/infernal/imp.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/infernal/watcher.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/summons_intents.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/void/obelisk.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/void/voiddragon.dm
  code/modules/mob/living/simple_animal/rogue/rogueanimals.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/spells/roguetown/acolyte/general.dm
  code/modules/spells/roguetown/vampire.dm
  code/modules/spells/spell_types/wizard/projectiles_single/frost_bolt.dm
  code/modules/spells/spell_types/wizard/projectiles_single/lightning_bolt.dm
  icons/mob/actions/roguespells.dmi
  icons/obj/projectiles.dmi
  icons/roguetown/items/magic_resources.dmi
Labels: Test Merge

#845 adds golem lux revival (TM before merge)
  modular_hearthstone/code/modules/reagents/reagent_containers/lux.dm
Labels: Test Merge

#1003 Don't check clothes while checking grab accessibility for sexcon
  code/datums/sexcon/sexcon.dm
Labels: Code

#1007 Moves spiders
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#1009 Adds 3 spiders
  _maps/map_files/dun_world/dun_world.dmm
Labels: Mapping

#912 Kazengun Wretches
  code/datums/combat_music.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/modules/cargo/packsrogue/merchant/weapons/merch_weapons_foreign.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/storage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/onimusha.dm
  code/modules/mob/dead/new_player/sprite_accessory/hair.dm
  icons/mob/sprite_accessory/hair/human_hair.dmi
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/onmob/64x64/head.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/weapons/64.dmi
  icons/roguetown/weapons/polearms64.dmi
  roguetown.dme
  sound/music/combat_sohei.ogg
  sound/music/combat_swordhunter.ogg
  sound/music/credits.txt
Labels: Conflict, Code, Balance, Sprite, Feature, Sound

#948 eora pomegranate tree buffs
  code/modules/spells/roguetown/acolyte/eora.dm
Labels: Test Merge

#970 [TM PLS] makes charge timer account for ticklag to make it feel less inconsistent.
  code/_onclick/drag_drop.dm
  code/controllers/subsystem/processing/mousecharge.dm
Labels: Test Merge, Code

#966 adds additional tail to lamias as well as tail markings
  code/__DEFINES/misc.dm
  code/datums/wounds/types/dismemberment.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/furry/lamia.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/bodyparts/lamian_tail.dm
  icons/mob/species/taurs.dmi
Labels: Code, Sprite

#1027 Goblin armor fix
  code/modules/clothing/rogueclothes/npc/goblin.dm
  code/modules/mob/living/carbon/human/npc/goblin.dm
Labels: Code

#1017 Pestran templar bugfix
  code/modules/jobs/job_types/roguetown/church/templar.dm
Labels: Test Merge, Code, Balance

#1014 misc magic changes
  code/game/objects/structures/traveltile.dm
  code/game/turfs/closed/minerals.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/hedgemage.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/elemental/_base.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  modular_azurepeak/code/datums/loadout.dm
Labels: Test Merge, Code, Balance

#991 bugfixes imp summon tier and makes summoner pouches hold all magic items
  code/datums/components/storage/storage_types.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/summons/infernal/imp.dm
Labels: Test Merge, Code, Balance

#1019 rehandles milking code
  code/modules/reagents/reagent_containers/glass.dm
Labels: Code

#1057 Captain helmet fix
  code/modules/clothing/rogueclothes/hats.dm
Labels: Code

#1046 Fluted Cuirass option for knight errants
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/noble.dm
Labels: Code, Balance

#978 Evil gear for evil people
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/berserker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/heretic.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/wretch/poacher.dm
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Conflict, Code, Balance, Sprite, Changes Requested

#897 Slick Trick fixes so you can jump over it
  code/datums/components/slippery.dm
  code/modules/spells/spell_types/wizard/invoked_aoe/slick_trick.dm
Labels: Code

#1076 Reverts armor sprites
  icons/roguetown/clothing/armor.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/masks.dmi
  icons/roguetown/clothing/neck.dmi
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/feet.dmi
  icons/roguetown/clothing/onmob/gloves.dmi
  icons/roguetown/clothing/onmob/head.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_armor.dmi
  icons/roguetown/clothing/onmob/helpers/sleeves_pants.dmi
  icons/roguetown/clothing/onmob/masks.dmi
  icons/roguetown/clothing/onmob/pants.dmi
  icons/roguetown/clothing/pants.dmi
  icons/roguetown/clothing/special/klappenlonger.dmi
  icons/roguetown/clothing/special/onmob/klappenlonger.dmi
  icons/roguetown/clothing/special/ravoxtemplar.dmi
Labels: Sprite

#1074 Garrison Role: Gatemaster
  code/__DEFINES/jobs.dm
  code/__DEFINES/roguetown.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: Test Merge, Code, Balance

#1032 Add new Pickpocket virtue Swift Fingers
  modular_azurepeak/virtues/utility.dm
Labels: Code, Balance

#1044 Sexcon menu tweaks, performance improvements + new commands
  code/__DEFINES/DNA.dm
  code/__DEFINES/sexcon_defines.dm
  code/datums/sexcon/sex_action.dm
  code/datums/sexcon/sex_actions/deviant/force_titjob.dm
  code/datums/sexcon/sex_actions/deviant/frotting.dm
  code/datums/sexcon/sex_actions/deviant/grinding.dm
  code/datums/sexcon/sex_actions/deviant/rub_body.dm
  code/datums/sexcon/sex_actions/deviant/scissoring.dm
  code/datums/sexcon/sex_actions/deviant/spanking.dm
  code/datums/sexcon/sex_actions/deviant/tailjob.dm
  code/datums/sexcon/sex_actions/deviant/tailpegging_anal.dm
  code/datums/sexcon/sex_actions/deviant/tailpegging_vaginal.dm
  code/datums/sexcon/sex_actions/deviant/thighjob.dm
  code/datums/sexcon/sex_actions/deviant/titjob.dm
  code/datums/sexcon/sex_actions/force/force_blowjob.dm
  code/datums/sexcon/sex_actions/force/force_footjob.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_anus.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_breasts.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_other_anus.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_other_breasts.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_other_penis.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_other_vagina.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_other_vagina_finger.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_penis.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_penis_over.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_vagina.dm
  code/datums/sexcon/sex_actions/masturbate/masturbate_vagina_finger.dm
  code/datums/sexcon/sex_actions/oral/blowjob.dm
  code/datums/sexcon/sex_actions/sex/anal_ride_sex.dm
  code/datums/sexcon/sex_actions/sex/anal_sex.dm
  code/datums/sexcon/sex_actions/sex/double_penetration.dm
  code/datums/sexcon/sex_actions/sex/slit_sex.dm
  code/datums/sexcon/sex_actions/sex/throat_sex.dm
  code/datums/sexcon/sex_actions/sex/vaginal_ride_sex.dm
  code/datums/sexcon/sex_actions/sex/vaginal_sex.dm
  code/datums/sexcon/sex_actions/toy/toy_anal.dm
  code/datums/sexcon/sex_actions/toy/toy_oral.dm
  code/datums/sexcon/sex_actions/toy/toy_other_anal.dm
  code/datums/sexcon/sex_actions/toy/toy_other_oral.dm
  code/datums/sexcon/sex_actions/toy/toy_other_vaginal.dm
  code/datums/sexcon/sex_actions/toy/toy_vaginal.dm
  code/datums/sexcon/sexcon.dm
  code/datums/sexcon/sexcon_knotting.dm
  code/modules/client/customizer/customizers/organ/genitals.dm
  code/modules/mob/dead/new_player/sprite_accessory/genitals.dm
  roguetown.dme
Labels: Code

#1077 Updated dual wielder description to be more verbose/clearer
  code/__DEFINES/traits.dm
Labels: Code

#1058 Investigator Inquisitor Buff
  code/modules/jobs/job_types/roguetown/Inquisition/puritan.dm
Labels: Code, Balance

#1075 Port SOME of the Jannisary changes from RW2
  code/modules/jobs/job_types/roguetown/mercenaries/classes/desertrider.dm
Labels: Code, Balance

#1053 Map spawns for mana-binding collars + crafting rename
  _maps/map_files/dun_world/dun_world.dmm
  code/game/objects/items/rogueitems/gems.dm
Labels: Code, Mapping

#1070 Adds 'Damned' Vice
  code/datums/character_flaw/_character_flaw.dm
  modular_azurepeak/virtues/combat.dm
Labels: Code

#1086 Forces maptext to stay within 1,1 bounds (AP port)
  code/_onclick/hud/mouseover.dm
Labels: Code

#1087 Add zigboxes
  code/modules/clothing/rogueclothes/quiver.dm
  code/modules/roguetown/roguemachine/drugmachine.dm
  icons/roguetown/smokable.dmi
Labels: Code, Sprite
